name: Build code, run unit test, run SAST, SCA, DAST security scans for NodeJs App Testing 1

on:
  push:
    branches: [ "main", "master" ]

jobs:
  build:
    runs-on: ubuntu-latest
    name: Run unit tests and SAST scan on the source code
    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-node@v4
        with:
          node-version: 21
          cache: npm

      - name: Install dependencies
        run: npm ci

      - name: Run unit tests
        run: npm test --if-present

      - name: SonarCloud Scan
        uses: sonarsource/sonarqube-scan-action@v6
        with:
          args: >
            -Dsonar.host.url=https://sonarcloud.io
            -Dsonar.organization=TU_ORG_SONARCLOUD
            -Dsonar.projectKey=ony-devsecops-all
            -Dsonar.sources=.
        env:
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}

  security:
    runs-on: ubuntu-latest
    needs: build
    name: Run the SCA scan on the source code
    steps:
      - uses: actions/checkout@v4

      - name: Run Snyk to check for vulnerabilities
        uses: snyk/actions/node@master
        continue-on-error: true
        env:
          SNYK_TOKEN: ${{ secrets.SNYK_TOKEN }}

  zap_scan:
    runs-on: ubuntu-latest
    needs: security
    name: Run DAST scan on the web application
    steps:
      - uses: actions/checkout@v4

      - name: ZAP Scan
        uses: zaproxy/action-baseline@v0.14.0
        with:
          target: 'http://example.com/'
          cmd_options: '-a'
          fail_action: false
          allow_issue_writing: false
          artifact_name: zap_scan
